.history {
  display: flex;
  gap: 20px;
}

.history img {
  border-radius: 10px;
}

.history-para {
  margin: 0;
  background-color: darkgrey;
  color: black;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
}
